body {
	/* remember : font-family */
	position: absolute;
	width: 100%;
	justify-content: center;
}

body > .backgnd img{
	position: absolute;
	width: 100%;
	opacity: 0.5;
}

.container{
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	justify-content: center;
}

/* ------------------------------------- navigation --------------------------------------- */

.nav-wrapper{
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	padding: 25px;
	background-color: lightgreen;
}

/* ----------------------------------- left side buttons ----------------------------------- */

.right-side{
	display: flex;
	margin-right: 1%;
}

.right-side > .btn{
	margin: 2%;
	color: black;
	background-color: #FDC189 ;
	width: 100%;
}

.right-side > .btn:hover {
	color: black;
	border-color: black;

}

/* --------------------------------------- title -------------------------------------------*/

.left-side{
	font-family: "Lexend Mega", sans-serif;
	display: flex;
	font-size: 200%;
}


/* -------------------------------- button meal + image --------------------------------------*/

.container img {
	position: absolute;
	grid-column: 1;
	grid-row: 1;
	margin-top: 16%;
	width: 45%;
	opacity: 1;
	border-radius: 10px;
}

.container > .food > .btn {
	position: absolute;
	grid-row: 1;
	grid-column: 1;
	margin-top: 28%;
	margin-left: 14%;
	margin-right: 5%;
	background-color: lightgreen;
	color: black;
	font-size: 16px;
	padding: 16px 30px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.container > .food > .btn:hover {
	background-color: lightgreen;
	color: black;
	border-color: black;
}

/* --------------------------------------- display meal --------------------------------------*/

.card{
	grid-column: 2;
	grid-row: 1;
	width: 80%;
	height: 12%;
	margin-top: 35%;
	margin-left: 25%;
	background-color: #FDC189;
}

.accordion{
	grid-column: 2;
	grid-row: 1;
	position: relative;
	margin-top: 50%;
	width: 80%;
	margin-left: 25%;
	margin-right: 20%;
	margin-bottom: 5%;
	border-radius: 10px;
}

.accordion > .accordion-item > .accordion-header > .accordion-button{
	background-color: #FDC189;
}

.accordion > .accordion-item > .accordion-header > .accordion-button:hover{
	
}

/* --------------------------------------- Add Recipe ----------------------------------------*/

.add-recipe{
	grid-column: 1;
	grid-row: 2;
	margin-top: 30%;
	margin-bottom: 5%;
}

.text-add{
	display: flex;
	padding-bottom: 15px;
	font-size: 150%;
}

.input-group{
	padding-bottom: 15px;
}

.input-group > .form-select{
	margin-right: 5px
}

.input-group > .input-group-text{
	background-color: #FDC189;
}

.input-group > .form-select > .btn{
	background-color: white;
	color: black;
	margin-right: 15px; 
}

/* --------------------------------------- Search ----------------------------------------*/

.container > .restaurant img{
	grid-column: 2;
	grid-row: 2;
	position: absolute;
	margin-top: 30%;
	margin-left: 43%;
}

.container > .restaurant > .btn{
	grid-column: 2;
	grid-row: 2;
	position: absolute;
	background-color: lightgreen;
	padding: 10px 70px;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	color: black;
	margin-top: 42%;
	margin-left: 52%
}

.container > .restaurant > .btn:hover {
	background-color: lightgreen;
	color: black;
	border-color: black;
}


/* --------------------------------------- About ----------------------------------------*/

.container_about{
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.container_about img{
	grid-column: 1;	
	margin-top: 25%;
	margin-left: 25%;
	border-radius: 10px;
	width: 60%;
}

.text_about{
	grid-column: 2;
	justify-content: justify;
	font-size: 20px;
	padding: 10%;
	margin-right: 20%;
	margin-top: 35%;
	
}




