body {
	/* remember : font-family */
	width: 100%;
	height: 900px;
	margin: 0px;
	justify-content: center;
	background-image: url(images/backgrnd.png); 
}

.m-container{
	display: grid;
	position: relative;
	grid-template-columns: 55% 25% auto;
	grid-template-rows: 15% 40% 5% auto;
	grid-template-areas:  "header  header header"
						  "me      texto  texto"
						  "me    greet-txt greet-txt"
						  "me       vasco  rui";
	width: 100% !important;
	height: 100%;
	margin: 0px !important;
}

/* ------------------------------------- navigation --------------------------------------- */
.nav-wrapper{
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	padding: 25px;
	background-color: #0FA373;
}

/* ----------------------------------- left side buttons ----------------------------------- */

.right-side{
	display: flex;
	margin-right: 1%;
}

.right-side > .btn{
	margin: 2%;
	color: black;
	background-color: #FDC189 ;
	width: 100%;
}

.right-side > .btn:hover {
	color: black;
	border-color: black;
}

/* --------------------------------------- title -------------------------------------------*/

.left-side{
	font-family: "Lexend Mega", sans-serif;
	display: flex;
	font-size: 200%;
}

#gato {
	width: 5%;
} 

/* --------------------------------------- About ----------------------------------------*/


#me{
	grid-area: me;
	position: relative;
}

.text-about{
	grid-area: texto;
	padding: 5%;
}

.greet-txt{
	grid-area: greet-txt;
	position: relative;
}

#vasco{
	grid-area: vasco;
}

#rui{	 
	grid-area: rui;
}

#vasco img{
	height: 50%;
}

#rui img{
	height: 45%;
}


