body {
	/* remember : font-family */
	position: relative;
	background-color: white
	width: 100%;
	justify-content: center;
}

.container{
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	justify-content: center;
}

/* ------------------------------------- navigation --------------------------------------- */

.nav-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	background-color: lightgreen;
}

/* ----------------------------------- left side buttons ----------------------------------- */

.left-side{
	display: flex;
}

.left-side > .btn{
	margin: 2%;
	color: black;
	background-color: #FDC189 ;
}

.left-side > .btn:hover {
	color: black;
	border-color: black;
}

/* --------------------------------------- title -------------------------------------------*/

.title{
	font-family: "Lexend Mega", sans-serif;
	display: flex;
	margin-right: 200px;
	font-size: 110%
}

.center{
	display: flex
	justify-content: center;
	font-size: 1.5rem;
}

.right-side{
	display: flex;
	font-family: "Lexend Mega", sans-serif;
	margin-top: 10px
}


/* -------------------------------- button meal + image --------------------------------------*/

.container img {
	position: absolute;
	margin-top: 5%;
	width: 45%;
	opacity: 0.8;
	border-radius: 10px;
}

.container > .btn {
	position: absolute;
	margin-top: 17%;
	margin-left: 14%;
	margin-right: 5%;
	background-color: lightgreen;
	color: black;
	font-size: 16px;
	padding: 16px 30px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.container > .btn:hover {
	background-color: lightgreen;
	color: black;
	border-color: black;
}

/* --------------------------------------- display meal --------------------------------------*/

.card{
	grid-column: 2;
	width: 80%;
	margin-top: 15%;
	margin-left: 25%;
	background-color: #FDC189;
}

.accordion{
	grid-column: 2;
	margin-top: 5%;
	width: 80%;
	margin-left: 25%;
	margin-right: 20%;
	margin-bottom: 5%;
	background-color: #FDC189;
	border-radius: 10px;
}

/* --------------------------------------- Add Recipe ----------------------------------------*/

.add-recipe{
	grid-column: 1;
	margin-top: 110%;
	margin-bottom: 15%;
}

.text-add{
	display: flex;
	padding-bottom: 15px;
	font-size: 150%;
}

.input-group{
	padding-bottom: 15px;
}

.input-group > .form-select{
	margin-right: 5px
}

.input-group > .form-select > .btn{
	background-color: white;
	color: black;
	margin-right: 15px; 
}


/* --------------------------------------- About ----------------------------------------*/

.container_about{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.container_about img{
	grid-column: 1;	
	margin-top: 10%;
	margin-left: 15%;
	border-radius: 10px;
}

.text_about{
	grid-column: 2;
	justify-content: center;
	
}


